:root {
    --fira-code: 'Fira Code', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    --background: #F0F0F4;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

body {
    margin: 0;
    background: var(--background);
    font-family: var(--montserrat);
    font-size: clamp(1rem, 1vw + .25rem, 1.3125rem);
}

h1, h2 {
    margin-top: 0;
}

.container {
    width: 80%;
    max-width: 1128px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    width: 100%;
}

.intro {
    height: 100vh;
    width: 100vw;
    padding-block: 3em;
    display: grid;
    place-items: center;
}

.intro__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro__title {
    position: relative;
    font-family: var(--fira-code);
    font-size: clamp(2.25rem, 3vw + 1rem, 4.5rem);
    font-weight: 300;
    text-align: center;
    line-height: 1.1;
    width: max-content;
}

.intro__title::before,
.intro__title::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.intro__title::before {
    background: #F0F0F4;
    animation: typewriter 2s steps(11) 1s forwards;
}

.intro__title::after {
    width: 0.125em;
    background: black;
    animation: 
        typewriter 2s steps(11) 1s forwards,
        blink 1s steps(5, start) infinite;
}

.intro__subtitle {
    color: rgb(99, 94, 154);

    opacity: 0;
    transform: translateY(3rem);
    animation-name: fadeInUp;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;
}

/* Animations */
@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}